/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# variables
# Utility
# Common
# Hero Section
# Feature Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# variables
--------------------------------------------------------------*/
:root {
  --floens-font: "DM Sans", sans-serif;
  --floens-font2: "Plus Jakarta Sans", sans-serif;
  --floens-font3: "Quicksand", sans-serif;
  --floens-font4: "Manrope", sans-serif;
  --floens-text: #7A736A;
  --floens-text-rgb: 122, 115, 106;
  --floens-text-gray: #9A8B82;
  --floens-text-gray-rgb: 154, 139, 130;
  --floens-base: #C7844F;
  --floens-base-rgb: 199, 132, 79;
  --floens-base2: #8A5133;
  --floens-base2-rgb: 138, 81, 51;
  --floens-gray: #DED8D3;
  --floens-gray-rgb: 222, 216, 211;
  --floens-gray2: #837F7B;
  --floens-gray2-rgb: 131, 127, 123;
  --floens-gray3: #D7D3CB;
  --floens-gray3-rgb: 215, 211, 203;
  --floens-white: #ffffff;
  --floens-white-rgb: 255, 255, 255;
  --floens-white2: #F2EEEA;
  --floens-white2-rgb: 242, 238, 234;
  --floens-white3: #EBE3D9;
  --floens-white3-rgb: 235, 227, 217;
  --floens-white4: #F6F2EC;
  --floens-white4-rgb: 246, 242, 236;
  --floens-white5: #F1F2FD;
  --floens-white5-rgb: 241, 242, 253;
  --floens-black: #000000;
  --floens-black-rgb: 0, 0, 0;
  --floens-black2: #2B1E16;
  --floens-black2-rgb: 43, 30, 22;
  --floens-black3: #351C42;
  --floens-black3-rgb: 53, 28, 66;
  --floens-black4: #120C08;
  --floens-black4-rgb: 18, 12, 8;
  --floens-dark-light: #AA96B4;
  --floens-dark-light-rgb: 170, 150, 180;
  --floens-purple: #965995;
  --floens-purple-rgb: 150, 89, 149;
  --floens-orange: #E76100;
  --floens-orange-rgb: 231, 97, 0;
  --floens-fuchsia: #FF1C74;
  --floens-fuchsia-rgb: 255, 28, 116;
  --floens-blue: #6C1CD1;
  --floens-blue-rgb: 108, 28, 209;
  --floens-green: #59C36A;
  --floens-green-rgb: 89, 195, 106;
  --floens-yellow: #FCB720;
  --floens-yellow-rgb: 252, 183, 32;
  --floens-border-color: #DED8D3;
  --floens-border-color-rgb: 222, 216, 211;
  --section-space: 120px;
  --floens-letter-space: 0.1em;
  --floens-letter-space-xl: -1.65px;
}

/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/
.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-120 {
  margin-top: 120px;
}

.mt--60 {
  margin-top: -60px;
}

.mt--120 {
  margin-top: -120px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb--60 {
  margin-bottom: -60px;
}

.mb--120 {
  margin-bottom: -120px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-142 {
  padding-top: 142px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
body {
  font-family: var(--floens-font, "DM Sans", sans-serif);
  color: var(--floens-text, #7A736A);
  font-size: 16px;
  line-height: 1.75;
  font-weight: 500;
}

body.locked {
  overflow: hidden;
}

a {
  color: var(--floens-base, #C7844F);
  transition: all 400ms ease;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--floens-font, "DM Sans", sans-serif);
  color: var(--floens-black2, #2B1E16);
  font-weight: bold;
}
@media (max-width: 575px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br {
    display: none;
  }
}

p {
  font-family: var(--floens-font, "DM Sans", sans-serif);
  font-size: 16px;
  color: var(--floens-text, #7A736A);
  font-weight: 500;
  line-height: 1.75;
}
@media (max-width: 575px) {
  p br {
    display: none;
  }
}

::placeholder {
  color: inherit;
  opacity: 1;
}

.background-base {
  background-color: var(--floens-base, #C7844F);
}

.background-gray {
  background-color: var(--floens-gray, #DED8D3);
}

.background-black {
  background-color: var(--floens-black, #000000);
}

.background-black-2 {
  background-color: var(--floens-black2, #2B1E16);
}

.floens-text-dark {
  color: var(--floens-text, #7A736A);
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.section-space {
  padding-top: var(--section-space, 120px);
  padding-bottom: var(--section-space, 120px);
}
@media (max-width: 767px) {
  .section-space {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .section-space {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section-space-two {
  padding-top: 111px;
  padding-bottom: var(--section-space, 120px);
}
@media (max-width: 767px) {
  .section-space-two {
    padding-top: 93px;
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .section-space-two {
    padding-top: 74px;
    padding-bottom: 80px;
  }
}

.section-space-top {
  padding-top: var(--section-space, 120px);
}
@media (max-width: 767px) {
  .section-space-top {
    padding-top: 100px;
  }
}
@media (max-width: 575px) {
  .section-space-top {
    padding-top: 80px;
  }
}

.section-space-bottom {
  padding-bottom: var(--section-space, 120px);
}
@media (max-width: 767px) {
  .section-space-bottom {
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .section-space-bottom {
    padding-bottom: 80px;
  }
}

.container-fluid,
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.row {
  --bs-gutter-x: 30px;
}

.gutter-y-10 {
  --bs-gutter-y: 10px;
}

.gutter-y-15 {
  --bs-gutter-y: 15px;
}

.gutter-y-17 {
  --bs-gutter-y: 17px;
}

.gutter-y-20 {
  --bs-gutter-y: 20px;
}

.gutter-y-30 {
  --bs-gutter-y: 30px;
}

.gutter-y-40 {
  --bs-gutter-y: 40px;
}

.gutter-y-50 {
  --bs-gutter-y: 50px;
}

.gutter-y-60 {
  --bs-gutter-y: 60px;
}

.floens-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  background-color: var(--floens-base, #C7844F);
  color: var(--floens-white, #ffffff);
  font-size: 15px;
  font-weight: 700;
  font-family: var(--floens-font, "DM Sans", sans-serif);
  padding: 20px 20.5px;
  transition: 500ms;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding-right: 75px;
  line-height: 1;
  z-index: 1;
}
@media (max-width: 575px) {
  .floens-btn {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
  }
}
.floens-btn::before, .floens-btn::after {
  content: "";
  background-color: var(--floens-black2, #2B1E16);
  height: 50%;
  width: 0;
  position: absolute;
  transition: 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: -1;
}
.floens-btn::before {
  top: 0;
  left: 0;
  right: auto;
}
.floens-btn::after {
  bottom: 0;
  right: 0;
  left: auto;
}
.floens-btn:hover::before {
  width: 100%;
  right: 0;
  left: auto;
}
.floens-btn:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.floens-btn span {
  position: relative;
  top: 1px;
  color: inherit;
}
.floens-btn i {
  position: relative;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 23.88px;
  color: inherit;
  transition: all 400ms ease;
}
.floens-btn i::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  background-color: RGBA(var(--floens-white-rgb, 255, 255, 255), 0.3);
  transition: all 400ms ease;
}
.floens-btn--border {
  background-color: transparent;
  border: 1px solid var(--floens-base, #C7844F);
  color: var(--floens-base, #C7844F);
}
.floens-btn--border::before, .floens-btn--border::after {
  background-color: var(--floens-base, #C7844F);
}
.floens-btn--border i {
  color: var(--floens-base, #C7844F);
}
.floens-btn--border i::after {
  background-color: var(--floens-base, #C7844F);
}
.floens-btn--border:hover {
  color: var(--floens-white, #ffffff);
}
.floens-btn--border:hover i {
  color: var(--floens-white, #ffffff);
}
.floens-btn--border:hover i::after {
  background-color: var(--floens-white, #ffffff);
}

.video-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: var(--floens-black2, #2B1E16);
  border-radius: 50%;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.video-button span {
  transition: all 400ms ease;
  font-size: 14px;
  color: var(--floens-white, #ffffff);
}
.video-button:hover {
  background-color: var(--floens-base, #C7844F);
}
.video-button:hover span {
  color: var(--floens-white, #ffffff);
}
.video-button__ripple::before, .video-button__ripple::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 0 rgba(var(--floens-black-rgb, 0, 0, 0), 0.6);
  -webkit-animation: producVideo 3s infinite;
  animation: popupVideo 3s infinite;
  border-radius: 50%;
}
.video-button:hover .video-button__ripple::before, .video-button:hover .video-button__ripple::after {
  box-shadow: 0 0 0 0 rgba(var(--floens-base-rgb, 199, 132, 79), 0.8);
}
.video-button__ripple::before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  content: "";
  position: absolute;
}
.video-button__ripple::after {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  content: "";
  position: absolute;
}
@keyframes popupVideo {
  70% {
    box-shadow: 0 0 0 40px rgba(10, 165, 205, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(10, 165, 205, 0);
  }
}
.video-button--large {
  width: 112px;
  height: 112px;
  background-color: transparent;
  background-position: center;
  background-repeat: repeat;
  background-size: 112px 112px;
}
@media (max-width: 1199px) {
  .video-button--large {
    width: 90px;
    height: 90px;
    background-size: 90px 90px;
  }
}
@media (max-width: 991px) {
  .video-button--large {
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
  }
}
.video-button--large .video-button__ripple::before,
.video-button--large .video-button__ripple::after {
  box-shadow: 0 0 0 0 rgba(var(--floens-base-rgb, 199, 132, 79), 0.6);
}
.video-button--large:hover .video-button__ripple::before, .video-button--large:hover .video-button__ripple::after {
  box-shadow: 0 0 0 0 rgba(var(--floens-base2-rgb, 138, 81, 51), 0.6);
}
.video-button--large span {
  font-size: 22px;
  color: var(--floens-base, #C7844F);
}
.video-button--large:hover {
  background-color: transparent;
}
.video-button--large:hover span {
  color: var(--floens-base2, #8A5133);
}

.custom-radio__input {
  display: none;
}
.custom-radio__title {
  position: relative;
  cursor: pointer;
  font-family: var(--floens-font, "DM Sans", sans-serif);
  color: var(--floens-black3, #351C42);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.custom-radio__title::before {
  content: "";
  border: 1px solid var(--floens-gray3, #D7D3CB);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -5px 16px;
  margin-left: 0;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.custom-radio__title::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--floens-dark-light, #AA96B4);
  left: 7px;
  top: 13px;
  margin: -8px 20px;
  margin-left: 0;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.custom-radio__input:checked + .custom-radio__title::before {
  border-color: var(--floens-base, #C7844F);
}
.custom-radio__input:checked + .custom-radio__title::after {
  background-color: var(--floens-base, #C7844F);
}
.custom-radio__input:checked + .custom-radio__title {
  text-shadow: 0 0 0.5px currentColor;
}

/* social icon */
.floens-social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
.floens-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  font-size: 14px;
  color: var(--floens-gray2, #837F7B);
  border: 1px solid var(--floens-border-color, #DED8D3);
  transition: all 400ms ease;
}
.floens-social a:hover {
  color: var(--floens-white, #ffffff);
  background-color: var(--floens-base, #C7844F);
  border-color: var(--floens-base, #C7844F);
}

.details-social {
  display: flex;
  align-items: center;
  gap: 20px 32px;
}
.details-social a {
  position: relative;
  font-size: 16px;
  color: var(--floens-text, #7A736A);
  transition: all 500ms ease;
  line-height: 1;
}
.details-social a:hover {
  color: var(--floens-base, #C7844F);
}
.details-social a + a::after {
  content: "";
  width: 1px;
  height: calc(100% - 2px);
  position: absolute;
  top: 0;
  left: -16px;
  background-color: var(--floens-white2, #F2EEEA);
}

.tabs-box .tabs-content .tab:not(.active-tab) {
  display: none;
}

.bootstrap-select .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}
.bootstrap-select .dropdown-item.active,
.bootstrap-select .dropdown-item:active {
  background-color: var(--floens-base, #C7844F);
}

.tns-outer .tns-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.tns-outer .tns-controls button {
  width: 45px;
  height: 45px;
  border: 2px solid #f4f4f4;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--floens-text, #7A736A);
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.block-title {
  margin-top: -8px;
  margin-bottom: 50px;
}
.block-title__decor {
  width: 21px;
  height: 14px;
  background-image: url(../images/shapes/leaf-1-1.html);
  background-repeat: no-repeat;
  background-position: top center;
  display: inline-block;
  line-height: 1;
  margin-bottom: -5px;
  position: relative;
  top: -7px;
}
.block-title p {
  margin: 0;
  color: var(--floens-text, #7A736A);
  font-size: 16px;
  line-height: 1;
  margin-bottom: 7px;
}
@media (min-width: 768px) {
  .block-title p {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .block-title p {
    font-size: 20px;
  }
}
.block-title h3 {
  margin: 0;
  font-size: 35px;
  color: var(--floens-black, #000000);
  font-family: var(--floens-font, "DM Sans", sans-serif);
}
@media (min-width: 768px) {
  .block-title h3 {
    font-size: 42px;
  }
}
@media (min-width: 992px) {
  .block-title h3 {
    font-size: 50px;
  }
}

.ul-list-one {
  margin-bottom: 0;
}
.ul-list-one li {
  position: relative;
  padding-left: 45px;
  font-size: 16px;
  font-weight: 500;
  color: var(--floens-black, #000000);
}
@media (min-width: 481px) {
  .ul-list-one li {
    font-size: 20px;
  }
}
.ul-list-one li::before {
  content: "\e907";
  color: var(--floens-base, #C7844F);
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: "azino-icon";
}

.preloader {
  position: fixed;
  background-color: var(--floens-black, #000000);
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9991;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}
.preloader__image {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px auto;
  width: 100%;
  height: 100%;
}

/* scroll to top */
.scroll-to-top {
  display: flex;
  align-items: center;
  width: auto;
  height: 35px;
  background: transparent;
  position: fixed;
  bottom: 60px;
  right: -12px;
  z-index: 99;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: rotate(-90deg);
  cursor: pointer;
  transition: all 0.2s ease;
}
.scroll-to-top__text {
  display: inline;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-right: 8px;
}
.scroll-to-top__wrapper {
  display: inline-block;
  width: 30px;
  height: 4px;
  background-color: var(--floens-base, #C7844F);
  position: relative;
  overflow: hidden;
}
.scroll-to-top__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--floens-black, #000000);
}
.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  bottom: 70px;
}

/* ratings */
.floens-ratings {
  display: flex;
  align-items: center;
  gap: 9.25px;
}
.floens-ratings span {
  font-size: 15.75px;
  color: var(--floens-base, #C7844F);
}

/* post paginations */
.post-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 11px;
}
.post-pagination a {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--floens-white2, #F2EEEA);
  align-items: center;
  justify-content: center;
  color: var(--floens-text, #7A736A);
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50%;
  line-height: 1;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.post-pagination a span {
  font-size: 14.767px;
  color: var(--floens-black3, #351C42);
  transition: all 400ms ease;
}
.post-pagination a:hover {
  border-color: var(--floens-base, #C7844F);
  color: var(--floens-base, #C7844F);
  background-color: transparent;
}
.post-pagination a:hover span {
  color: var(--floens-base, #C7844F);
}
.post-pagination li.active a {
  background-color: var(--floens-base, #C7844F);
  color: var(--floens-white, #ffffff);
}
.post-pagination li.active a span {
  color: var(--floens-white, #ffffff);
}

.floens-owl__carousel--with-shadow .owl-stage-outer {
  overflow: visible;
}
.floens-owl__carousel--with-shadow .owl-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease, visibility 500ms ease;
}
.floens-owl__carousel--with-shadow .owl-item.active {
  opacity: 1;
  visibility: visible;
}

.floens-owl__carousel--basic-nav.owl-carousel .owl-nav {
  display: flex;
  justify-content: center;
  gap: 47px;
  margin-top: 60px;
}
.floens-owl__carousel--basic-nav.owl-carousel .owl-nav button {
  border: none;
  outline: none;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
.floens-owl__carousel--basic-nav.owl-carousel .owl-nav button span {
  border: none;
  outline: none;
  width: 44px;
  height: 44px;
  background-color: var(--floens-white2, #F2EEEA);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--floens-base2, #8A5133);
  border-radius: 50%;
  font-size: 14px;
  transition: all 500ms ease;
}
.floens-owl__carousel--basic-nav.owl-carousel .owl-nav button span.icon-slide-left-arrow::before {
  position: relative;
  right: -19px;
}
.floens-owl__carousel--basic-nav.owl-carousel .owl-nav button span.icon-slide-right-arrow::before {
  position: relative;
  left: -19px;
}
.floens-owl__carousel--basic-nav.owl-carousel .owl-nav button span:hover {
  background-color: var(--floens-base2, #8A5133);
  color: var(--floens-white2, #F2EEEA);
}
.floens-owl__carousel--basic-nav.owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.floens-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot {
  margin-top: 60px;
}
.floens-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  background-color: var(--floens-white3, #EBE3D9);
  border: 2px solid var(--floens-white, #ffffff);
  box-shadow: 0 0 2px rgba(var(--floens-black-rgb, 0, 0, 0), 1);
  margin: 0;
}
.floens-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot:hover span, .floens-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot.active span {
  background-color: var(--floens-base2, #8A5133);
  border: 2px solid var(--floens-white2, #F2EEEA);
  box-shadow: 0 0 2px rgba(var(--floens-black-rgb, 0, 0, 0), 1);
}

.sec-title {
  display: flex;
  align-items: flex-start;
  gap: 23px;
}
.sec-title--border {
  padding-bottom: 29px;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--floens-border-color, #DED8D3);
}
.sec-title__tagline {
  position: relative;
  top: -21px;
  margin: 0;
  margin-top: 30px;
  font-family: var(--floens-font, "DM Sans", sans-serif);
  color: var(--floens-base2, #8A5133);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
@media (max-width: 991px) {
  .sec-title__tagline {
    top: -22px;
  }
}
@media (max-width: 767px) {
  .sec-title__tagline {
    top: -23px;
  }
}
@media (max-width: 575px) {
  .sec-title__tagline {
    top: -24px;
  }
}
.sec-title__tagline::before {
  content: "";
  position: absolute;
  top: -26px;
  left: 0px;
  width: 16px;
  height: 16px;
  background-color: var(--floens-base2, #8A5133);
}
.sec-title__tagline::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 0px;
  width: 10px;
  height: 10px;
  background-color: var(--floens-base, #C7844F);
}
.sec-title__title {
  margin: 0;
  font-size: 55px;
  color: var(--floens-black2, #2B1E16);
  font-weight: bold;
  line-height: 1.09;
  letter-spacing: var(--floens-letter-space-xl, -1.65px);
  margin-bottom: 0;
}
@media (max-width: 1199px) {
  .sec-title__title {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .sec-title__title {
    font-size: 40px;
  }
}
@media (max-width: 575px) {
  .sec-title__title {
    font-size: 35px;
  }
}
@media (max-width: 425px) {
  .sec-title__title {
    font-size: 33px;
  }
}
.sec-title--center {
  display: block;
  text-align: center;
}
.sec-title--center .sec-title__tagline {
  display: inline-block;
  margin: 0;
  margin-left: 27px;
  top: 0;
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
}
.sec-title--center .sec-title__tagline::before {
  top: -1px;
  left: -27px;
}
.sec-title--center .sec-title__tagline::after {
  top: -1px;
  left: -21px;
}
.sec-title--center .sec-title__title {
  margin-top: 4px;
}

.progress-box + .progress-box {
  margin-top: 28px;
}
.progress-box__title {
  font-size: 16px;
  line-height: 1;
  text-transform: capitalize;
  margin-bottom: 17px;
}
.progress-box__bar {
  width: 100%;
  height: 6px;
  background-color: var(--floens-white2, #F2EEEA);
  position: relative;
}
.progress-box__bar__inner {
  position: relative;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--floens-base2, #8A5133);
  transition: all 1500ms linear;
  width: 0px;
  z-index: 1;
}
.progress-box__number {
  position: absolute;
  bottom: calc(100% + 19px);
  right: 0;
  font-size: 14px;
  color: var(--floens-base2, #8A5133);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

.experience {
  position: absolute;
  min-width: 202px;
  padding: 10px;
  background-color: var(--floens-white, #ffffff);
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.15));
  z-index: 1;
  animation: zump 3s linear infinite;
}
@media (max-width: 575px) {
  .experience {
    min-width: 175px;
  }
}
.experience__inner {
  display: flex;
  align-items: center;
  background-color: var(--floens-base, #C7844F);
}
.experience__year {
  padding: 24px 20.5px;
  height: 100%;
  text-align: center;
  font-size: 55px;
  color: var(--floens-white, #ffffff);
  text-transform: capitalize;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .experience__year {
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 45px;
  }
}
.experience__text {
  transform: rotate(180deg);
  padding: 9px 0;
  font-size: 16px;
  color: var(--floens-white, #ffffff);
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 0;
  writing-mode: vertical-rl;
}
@media (max-width: 575px) {
  .experience__text {
    font-size: 13px;
  }
}
.experience__text br {
  display: inline;
}

.ui-datepicker .ui-datepicker-header {
  background-image: none;
  background-color: var(--floens-black, #000000);
  color: var(--floens-white, #ffffff);
  font-family: var(--floens-font, "DM Sans", sans-serif);
}

.ui-datepicker-calendar th span {
  font-family: var(--floens-font, "DM Sans", sans-serif);
}
.ui-datepicker-calendar td {
  background-color: var(--floens-gray, #DED8D3);
  background-image: none;
  font-family: var(--floens-font, "DM Sans", sans-serif);
  color: var(--floens-text, #7A736A);
}
.ui-datepicker-calendar td a {
  border-color: var(--floens-border-color, #DED8D3);
  background-color: var(--floens-gray, #DED8D3);
  background-image: none;
}
.ui-datepicker-calendar .ui-state-default,
.ui-datepicker-calendar .ui-widget-content .ui-state-default,
.ui-datepicker-calendar .ui-widget-header .ui-state-default {
  border-color: var(--floens-border-color, #DED8D3);
  background-color: var(--floens-gray, #DED8D3);
  background-image: none;
  color: var(--floens-text, #7A736A);
  padding: 10px 5px;
  text-align: center;
  line-height: 1em;
}
.ui-datepicker-calendar .ui-state-default:hover,
.ui-datepicker-calendar .ui-widget-content .ui-state-default:hover,
.ui-datepicker-calendar .ui-widget-header .ui-state-default:hover {
  color: var(--floens-white, #ffffff);
  background-color: var(--floens-base, #C7844F);
}
.ui-datepicker-calendar .ui-state-highlight,
.ui-datepicker-calendar .ui-widget-content .ui-state-highlight,
.ui-datepicker-calendar .ui-widget-header .ui-state-highlight {
  color: var(--floens-white, #ffffff);
  background-color: var(--floens-base, #C7844F);
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  background-image: none;
  background-color: var(--floens-white, #ffffff);
  color: var(--floens-black, #000000);
}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  background-color: var(--floens-base, #C7844F);
  color: var(--floens-white, #ffffff);
  top: 2px;
}

.ui-datepicker .ui-datepicker-prev:hover {
  left: 2px;
}

.ui-datepicker .ui-datepicker-next:hover {
  right: 2px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
  background-color: var(--floens-black2, #2B1E16);
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 1200px) {
  .hero-section {
    padding-top: 86px;
    padding-bottom: 159px;
  }
}
.hero-section__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero-section .container {
  position: relative;
}
.hero-section__logo {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hero-section__content {
  text-align: center;
}
@media (min-width: 992px) {
  .hero-section__content {
    text-align: left;
  }
}
.hero-section__title {
  margin: 0;
  font-size: 35px;
  line-height: 45px;
  color: var(--floens-white, #ffffff);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 80px;
  margin-bottom: 27px;
}
@media (min-width: 1200px) {
  .hero-section__title {
    margin-top: 189px;
    font-size: 60px;
    line-height: 70px;
  }
}
.hero-section__text {
  margin: 0 0 30px;
  color: var(--floens-white5, #F1F2FD);
}
@media (min-width: 1200px) {
  .hero-section__text {
    margin-bottom: 51px;
    font-size: 20px;
    line-height: 36px;
  }
}
.hero-section__text br {
  display: none;
}
@media (min-width: 768px) {
  .hero-section__text br {
    display: inherit;
  }
}
.hero-section .floens-btn {
  padding: 21.5px 40px;
}
.hero-section .floens-btn::before, .hero-section .floens-btn::after {
  background-color: var(--floens-base2, #8A5133);
}
.hero-section__images {
  display: none;
}
.hero-section__images img {
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0px 4px 40px 5px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1200px) {
  .hero-section__images {
    display: block;
  }
}
.hero-section__arrow {
  width: 158px;
  height: 90px;
  background-image: url(../images/floens-landing/hero-arrow-1.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 35.7%;
  bottom: 161px;
  -webkit-animation-name: float-bob-y-2;
  animation-name: float-bob-y-2;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  display: none;
}
@media (min-width: 1200px) {
  .hero-section__arrow {
    display: block;
  }
}
.hero-section__badge {
  width: 133px;
  height: 133px;
  background-image: url(../images/floens-landing/hero-badge-1.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 120px;
  left: 47%;
  -webkit-animation: sunMove 10s linear infinite;
  animation: sunMove 10s linear infinite;
  display: none;
}
@media (min-width: 1200px) {
  .hero-section__badge {
    display: block;
  }
}

@-webkit-keyframes sunMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes sunMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes float-bob-y-2 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
    transform: translateY(10px) translateX(10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
@keyframes float-bob-y-2 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
    transform: translateY(10px) translateX(10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
/*--------------------------------------------------------------
# Feature Section
--------------------------------------------------------------*/
.features-two {
  background-color: #F2EEEA;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 991px) {
  .features-two {
    padding-bottom: 50px;
  }
}
.features-two__box {
  text-align: center;
  position: relative;
}
@media (max-width: 991px) {
  .features-two__box {
    margin-bottom: 30px;
  }
}
.features-two__box img {
  max-height: 52px;
  display: inline-block;
  transition: all 500ms linear;
  transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1);
}
.features-two__box:hover img {
  transform: scale(0.9);
}
.features-two__title {
  font-size: 20px;
  line-height: 30px;
  color: var(--floens-black2, #2B1E16);
  margin: 22px 0 0;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

/*--------------------------------------------------------------
# Demo Section
--------------------------------------------------------------*/
.demos-one {
  position: relative;
  padding: 120px 0 90px;
}
@media (max-width: 767px) {
  .demos-one {
    padding: 80px 0 50px;
  }
}
.demos-one__single {
  margin: 0 0 30px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  position: relative;
  text-align: center;
  background-color: var(--floens-white, #ffffff);
  box-shadow: 0px 10px 60px 0px rgba(var(--floens-black-rgb, 0, 0, 0), 0.1);
}
.demos-one__single:hover {
  transform: translateY(-10px);
}
.demos-one__single:hover .demos-one__buttons {
  transform: scale(1, 1);
  opacity: 1;
  transform-origin: top center;
}
.demos-one__single:hover .demos-one__image img {
  filter: blur(2px);
}
.demos-one__image {
  position: relative;
}
.demos-one__image img {
  max-width: 100%;
  transition: filter 500ms ease;
  filter: blur(0px);
}
.demos-one__buttons {
  background-color: rgba(var(--floens-black2-rgb, 43, 30, 22), 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transform: scale(1, 0);
  transition: transform 500ms ease, opacity 600ms linear;
  transform-origin: bottom center;
  opacity: 0;
}
.demos-one__buttons .floens-btn {
  font-size: 13px;
  padding: 14px 25px 15px;
}
.demos-one__buttons .floens-btn::before, .demos-one__buttons .floens-btn::after {
  background-color: var(--floens-base2, #8A5133);
}
.demos-one__text {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 32px;
}
.demos-one__text__title {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  color: var(--floens-black2, #2B1E16);
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

/*--------------------------------------------------------------
#  Feature Section 02
--------------------------------------------------------------*/
.features-one {
  background-color: #F2EEEA;
  padding: 105px 0 70px;
}
@media (max-width: 767px) {
  .features-one {
    padding: 65px 0 30px;
  }
}
.features-one__title {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 50px;
  color: var(--floens-black2, #2B1E16);
}
@media (max-width: 767px) {
  .features-one__title {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.features-one__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 1199px) {
  .features-one__grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 991px) {
  .features-one__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 767px) {
  .features-one__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.features-one__box {
  text-align: center;
  position: relative;
  margin: 0 0 46px;
}
@media (max-width: 767px) {
  .features-one__box {
    margin-left: auto;
    margin-right: auto;
  }
}
.features-one__box__image {
  width: 131px;
  height: 135px;
  background-color: var(--floens-white, #ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-one__box__image img {
  max-height: 121px;
  display: inline-block;
  transition: all 500ms linear;
  transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1);
}
.features-one__box__title {
  max-width: 131px;
  font-size: 15px;
  color: var(--floens-black2, #2B1E16);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  margin: 18px 0 0;
}
.features-one__box:hover .features-one__box__image img {
  transform: scale(0.9);
}

/*--------------------------------------------------------------
#  Footer Section
--------------------------------------------------------------*/
.main-footer {
  background-color: var(--floens-black2, #2B1E16);
  position: relative;
  padding-top: 108px;
}
@media (max-width: 767px) {
  .main-footer {
    padding-top: 70px;
  }
}
.main-footer .container {
  position: relative;
  z-index: 2;
}
.main-footer__title {
  margin: 0 0 5px;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--floens-white, #ffffff);
}
@media (min-width: 1200px) {
  .main-footer__title {
    font-size: 45px;
  }
}
.main-footer__text {
  margin: 0 0 26px;
  color: var(--floens-gray, #DED8D3);
}
@media (min-width: 1200px) {
  .main-footer__text {
    font-size: 26px;
    margin: 0 0 36px;
  }
}
.main-footer .floens-btn {
  padding: 21.5px 40px;
}
.main-footer .floens-btn::before, .main-footer .floens-btn::after {
  background-color: var(--floens-base2, #8A5133);
}
.main-footer__copyright {
  position: relative;
  border-top: 1px solid rgba(var(--floens-border-color-rgb, 222, 216, 211), 0.2);
  margin: 99px 0 0;
  padding: 32px 0 31px;
}
@media (max-width: 767px) {
  .main-footer__copyright {
    margin-top: 50px;
    padding: 21px 0 24px;
  }
}
.main-footer__copyright p {
  font-size: 16px;
  line-height: 36px;
  color: var(--floens-white, #ffffff);
  margin: 0;
}
/*# sourceMappingURL=floens-landing.css.map */
